---
layout: default
title: Blog Page 
language: deutsch
seo:
  title: Blogposts
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>


<section>
    <section class="capped-width grid-spaceAround-middle">
        <div class="col-12 padded padded-b-0 center">
            <h1 class="editable lindsey"> Blog </h1>
        </div>
    </section>
</section>


<section class="capped-width md-padded-2 padded-t-1 padded-b-0">

    <div class="capped-width padded grid-center">

        

            {% for post in site.posts limit:12 %}
                {% if post.language == 'deutsch' %}

                    {% include post-loop-item-square.html %}

                {% endif %}
            {% endfor %}

    </div>

</section>


<!------------------------ CTA Banner  ------------------------>
<!----
<section class="bg-dark">
    <section class="bg-dark text-light padded center capped-width"> 

        <div class="capped-width-narrow">
            <h2> Abonniere den Newsletter meiner Firma </h2>
            <p> Mit unserer Theta-Welten Schwyz GmbH unterstützen wir Menschen von klein bis gross in jeglichen Lebenslagen auf emotionaler und spiritueller Ebene, immer verbunden mit Mutter Erde. </p>
            <a href="#" class="button"> Abonnieren </a>
        </div>

    </section> 
</section>
--->


<!------------------------ Split blog loop (part 2) ------------------------>
<!----->
<section class="capped-width md-padded-2 padded-b-05 padded-t-0">

    <!-- This checks if there are more than 15 blog posts, and if there are shows a link to the full blog archive -->

    {% assign post_count = site.posts | size %}
    
    {% if post_count > 15 %}
        <div class="center padded-2">
            <a class="button" href="/blog-archiv"> Archiv </a>
        </div>
       
    {% endif %}

</section>

