---
layout: default
title: Blog Archiv
language: deutsch
slick-slider: false
pop-up: false
seo:
  title: Blog Archiv
  description: Hier findest du alle bisher veröffentlichten Blogposts von Alfred Schuler.
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
---

<!------------------------ Split blog loop (part 1) ------------------------>

<section class="center xs-padded-t-4 padded padded-b-0">
    <h1 class="editable lindsey"> Archiv </h1>
</section>

<section class="capped-width padded archive">



    <div class="capped-width grid">

        {% for post in site.posts limit: 100 %}
        {% if post.language == 'deutsch' %}

        <a class="col-6_md-12-middle post-item post-item-hover" href="{{ post.url }}">
            <div class="grid">
                <div class="col-3-middle">
                    <div class="bg-image square round-edges-1" style="background-image:url( '{{ post.featured_image }}' );"></div>
    
                </div>
                <div class="col-9-middle padded-1">
            
                    <h4 class="margin-t-05 margin-b-05 subtle-heading-xs lindsey"> {{ post.title }} </h4>
                    <p class="hide-xs"> {{ post.description | truncate: 140 }} </p>
            
                </div>
            </div>
        </a>
        {% endif %}
        {% endfor %}

    </div>



</section>