---
layout: default
title: Doula Arbeit
language: deutsch
slick-slider: false
pop-up: true
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
gallery-toggle: false
gallery:
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-1.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-2.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-3.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-4.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-5.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-6.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-7.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-8.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-9.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-10.jpg
  - pop-up-background_image: /images/catering-retreats/gallery/gallery-11.jpg
---
<section class="bg-light">
  <section class="padded-2 xs-padded-0 capped-width">
    <div class="editable">
        <img src="/images/pflanzenwelt/pflanzenwelt.png" />

        <h2 class="fourrem lindsey padded-2">
            Doula Arbeit
        </h2>
    </div>

  </section>
</section>

<section class="capped-width padded padded-b-1 grid-spaceAround-middle">
  <div class="col-6_md-12 padded">
    <h2 class="lindsey editable">
        Willkommen.<br /><br />Begleitung im Wandel – von Geburt bis Abschied
    </h2>
    <p class="editable">
        <strong>Was bedeutet Doula für mich?<br /></strong><br />Das Wort <em>Doula</em> stammt aus dem Altgriechischen (<em>doúlē</em>) und bedeutet „dienende Frau“ oder „begleitende Frau“.<br />Für mich beschreibt es eine Haltung des Daseins – präsent, zugewandt und ohne zu führen. Als Doula begleite ich Frauen in Zeiten des Wandels.<br />In Momenten, in denen sich das Leben neu ordnet: bei Geburt, im Mutterwerden, bei Verlust und im Abschied. <br /><br />Ich halte Raum an den Schwellen des Lebens – dort, wo Altes geht und Neues entstehen darf.<br />Nicht als medizinische Fachperson, sondern als Frau, die bleibt, zuhört und hält.<br /><br />Doula-Sein heißt für mich, da zu sein – auch dann, wenn es keine Worte gibt.&nbsp;
    </p>
  </div>
  <div class="col-6_md-12 padded">
    <img src="/images/pflanzenwelt/Jules-5.jpg" class="round-edges" />
  </div>

</section>

<section class="capped-width padded padded-t-0">
  <div class="padded padded-t-0">
    <p class="editable">
        Wie sieht eine Begleitung bei mir aus?<br /><br />Ganz individuell, was gewunscht ist, und du gerade brauchst begleite ich dich von Massagen, zu Mahlzeiten kochen, mit Heilkrautern, somatischen Uebungen Ritualen vor und nach der Geburt, nach dem Abschied, meiner PRasenz<br /><br />Du kannst meine Arbeit als PAket buchen oder die Rituale auch individuell.&nbsp;<br /><br />Ich empfehle allgemein auch bei meinen Massagen eine kosntante blegleitung zu haben da wir uns naeher kennenlernen, tiefer gemeinsam gehen und weben koennen, vertrauen wird gefasst und es entwicklet sich ein schoenes band<br /><br />Rituale sind unter anderen Closing the Bones (erklaerung) dies werde ich mit meiner Doula Kollegin Mayka Graflein anbiente dort wirst du eine Massage, eine Pflanzenwaschung, Soundhelaing und das schliessen durch Rebozo erfahren, dies dient das du wieder zu dir zuruck kommst nach einem Schwellenubergang.
    </p>
  </div>
</section>



{% if page.gallery-toggle == 'true' %}
<section class="padded {{page.gallery-background}}">
  <h2 class="editable lindsey center tworem margin-b-2 padded-b-2 xs-margin-b-0 xs-padded-b-1"> Bildergalerie </h2>
  <div class="portfolio" id="lightgallery">

      {% for item in page.gallery %}

      <a class="gallery-container" href="{{item.pop-up-background_image}}"> 
          <img data-src="{{item.pop-up-background_image}}" class="lazy" />
      </a>

      {% endfor %}

  </div>
</section>
{% endif %}