---
layout: default
title: Homepage | Rain & Rosemary
language: deutsch
slick-slider: false
pop-up: false
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords: 'bodywork massage, mentoring, '
  hide-from-google: false
testimonials:
  - name: Noem
    description: >-
      Um ehrlich zu sein, war die Sitzung mit Youlia etwas, das ich noch nie
      zuvor erlebt hatte.  Eine Zeit, die ganz der Weiblichkeit gewidmet war,
      und mir und ihr 😊 mit aromatischen Ölen, Räucherstäbchen, Kristallen und
      mehr, habe ich praktisch gelernt, mit allen Arten von Emotionen umzugehen,
      die auf mich warten, ich hatte einen sicheren und weiten Raum, um zu sagen
      und zu sprechen, was ich fühle.  Je nach Gesprächsverlauf gingen wir zum
      körperlichen Teil über, der eine angenehme und liebevolle Berührung wie
      die einer Mutter oder großen Schwester war. Ich möchte die
      Gebärmuttermassage erwähnen, die für mich etwas ganz Besonderes war.  Sie
      nimmt sich immer noch Zeit für mich, um einige der Dinge zu besprechen,
      die in der Sitzung zur Sprache kamen, und ist da, um mich zu beraten, wenn
      ich sie brauche.  Full of love ❤.
  - name: Madison Ryley
    description: >-
      Ich kann diese erstaunliche Frau nur empfehlen! Lluvia hat eine so
      liebevolle und nährende Note. Sie ist so intuitiv und ich habe so viel von
      ihrer Körperarbeit profitiert.
  - name: Elle LaRose
    description: >-
      DIESE FRAU HAT DIE HEILENDEN HÄNDE GOTTES. Sie ist eine magische Frau mit
      einer Tasche voller Leckereien. Lluvia ist ein vertrauenswürdiger,
      liebevoller, roher und nährender Mensch. Sie hört zu und führt dich auf
      einen Weg, der in Einklang mit deinem höchsten Selbst steht. Sie erlaubt
      dir, dich zu öffnen und auszudehnen, während sie dir den Weg für deine
      Reise ebnet. Sie füttert dich, hält dich, hört dir zu, dient dir und nimmt
      sich Zeit für dich. Es ist ein wahrer Segen, sie eine Freundin, eine
      Schwester und eine Lehrerin nennen zu dürfen.
  - name: Michael
    description: >-
      I came to San Marcos, la Laguna in Guatemala looking for someone to
      untangle the mess that I had in my brain - Negative thought loops,
      self-imposed roadblocks, and an inability to make a decision that was true
      to who I am. I found Lluvia, and my session with her was extremely helpful
      in so many ways.  My time with Lluvia was impossible to categorize.  The
      session itself was talk therapy, massage, plant medicine, music therapy,
      art therapy, writing, great tea, and so much more.  Lluvia made so many of
      the herbal oils and scents that were used from scratch, and I was
      introduced to plants that I didn't even know existed.  I talked, laughed,
      cried, and came out feeling cleansed.  I felt completely safe and
      unrushed, and I was able to verbalize the issues I have been having for
      the first time in many years.  I was able to focus on what I needed to do
      to be true to myself and to my relationships. My decisions following the
      session have been made with clarity and honesty, and I was able to begin
      to heal a chasm that had grown between my wife and I. I highly recommend a
      session with Lluvia.  If you have an intention, she will help you move
      forward.  If you don't have an intention, she will help you find it.  If
      you aren't looking for an intention, your time will still be well spent,
      as you will be comfortable, safe, and experience a healing massage, a
      great cup of tea, and beautiful aromas and sounds.
---
<!------------------------ Image Banner  ------------------------>
<section class="padded-2 xs-padded-0 capped-width relative xs-padded-bottom-custom">
    <img src="/images/index/Index-banner-1.png" />

    <h2 class="fourrem lindsey padded margin-t-2 hide-xs">  </h2>

    <div class="keywords-index">
      <h2> Bodywork Massagen </h2>
      <h2> Mentoring </h2> 
      <h2> Kräuterkunde </h2>
      <h2> Catering Retreats </h2>
    </div>

</section>

<div class="show-xs padded">
  <h2 class="lindsey"> </h2>
</div>


<section class="bg-light">
  <section class="capped-width padded-2 xs-padded-0">
    <img src="/images/index/Index-banner-2.png" />
  </section>
</section>


<section class="capped-width padded-2 xs-padded-5 grid-spaceAround-middle">
    <div class="col-6_sm-12 padded">
      <h2 class="editable"> Hey, bin Lluvia </h2>
      <p class="editable"> Das Mysterium Leben und der Mensch und seine Beweggründe haben mich seit jeher fasziniert. <br /><br /> Ich liebe das Leben in all seiner Pracht. Die Gerüche, Texturen und Geschmäcker, die das Leben mit sich bringen, spiegeln sich auch zauberhaft in der Küche wider, mit all ihren wilden, bunten Zutaten, die sie beinhalten. Die Natur ist mein Wohnzimmer, die Pflanzen meine engsten Verbündeten, das Feuer mein stetiger Begleiter und das Wasser mein treuer Freund, der mich hält.<br /><br /> Auszudrücken, wer du bist und was du gerade fühlst, ohne Scham, ohne Zurückhaltung. Jede Emotion erlauben zu dürfen. Dies bedeutet absolute Freiheit für mich. <br /><br /> Anderen zu helfen, dies zu tun, deren Innerstes dabei anrühren und dadurch zu helfen, sich mit ihrer eigenen Magie wieder zu verbinden, ist ein riesiges Geschenk und bereitet mir unglaublich viel Freude. </p>
    </div>
    <div class="col-6_sm-12 padded">
      <img src="/images/index/Index-3.png" />
    </div>
</section>



<section class="capped-width grid-spaceAround-middle xs-margin-b-1 padded padded-t-1 center">
  <div class="col-1-bottom"> <p class="lindsey threerem"> " </p> </div>
  <div class="col-10"> <p class="lindsey tworem"> Ich hoffe, dass du hinausgehst und dir Geschichten, also das Leben, widerfahren lässt, und dass du mit diesen Geschichten arbeitest ... sie mit deinem Blut und deinen Tränen und deinem Lachen gießt, bis sie blühen, bis du selbst aufblühst. </p> 
  <p class="editable"> - Clarissa Pinkola Estés, Women Who Run With the Wolves </p></div>
  <div class="col-1-top"> <p class="lindsey threerem"> " </p> </div>
</section>


<section class="bg-image bg-index-banner bg-overlay tall-70 xs-tall-50 flex-center text-white">
  <div class="grid-spaceAround-middle padded">
    <div class="col-6-middle padded">
      <h2 class="editable sm-1-6rem">
          Du bist nicht ein Tropfen im Ozean, du bist der ganze Ozean in einem Tropfen
      </h2>
    </div>
    <div class="col-6 center relative"> 
      <p class="lindsey quote-bg-image"> Peace - Unity - Freedom </p>
    </div>
  </div>
</section>



<section class="capped-width padded-lg xs-padded-5 relative">
  <img src="/images/index/Index-4.png" />

  <h3 class="index-4-word-1 lindsey threerem"> Genuss </h3>
  <h3 class="index-4-word-2 lindsey threerem"> Verbundenheit </h3>

</section>




<section class="center hide-md">
  <h2 class="lindsey tworem"> Testimonials </h2>
  <section class="capped-width-narrow">
          <div class="slider-container padded padded-t-2 center">   
            {% for item in page.testimonials %}  
              <div class="slider-item padded"> 
                  <h5 class="block lindsey"> {{ item.name }} </h5>
                  <p class="block"> {{ item.description }}</p>
              </div>
            {% endfor %}
          </div>
  </section>
</section>

<section class="center show-md bg-light padded padded-t-2">
  <h2 class="lindsey tworem"> Testimonials </h2>
  <section class="capped-width-narrow"> 
            {% for item in page.testimonials %}  
              <div class="padded testimonial-box-md margin-b-1"> 
                  <h5 class="block lindsey"> {{ item.name }} </h5>
                  <p class="block"> {{ item.description }}</p>
              </div>
            {% endfor %}
  </section>
</section>

