
<!-- Since the post loop item uses a column class, make sure the parent container has a grid -->

<div class="col-3_sm-6_xs-12 post-item padded-1">
    <a href="{{ post.url }}" class="bg-image portrait" style="background-image:url( '{{ post.featured_image }}' );"></a>
    <div class="padded-t-1 padded-b-1">

        <h2 class="margin-t-1"> {{ post.title }} </h2>
        <a href="{{ post.url }}" class="subtle-button"> Weiterlesen </a>

    </div>
</div>


<!-- Want the categories to link to their archive page? Replace the span with a link like this. 

{% for item in post.categories %}
    <span class="tag"> {{item}} </span>
{% endfor %}


-->