<section class="bg-v-light">
  <footer class="capped-width grid-spaceAround-middle md-padded-2 padded-1 padded-b-05">
    <div class="col-6_xs-6">
      <a href="/">
        <img src="/icons/logos/as.png" class="footer-logo">
      </a>
    </div>
    <nav class="col-6_xs-6-right-top">
      <a href="/index"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <a href="/coaching"> Coaching </a>
      <a href="/seminare"> Seminare </a>
      <a href="/kalender"> Kalender </a>
      <a href="/termin-buchen"> Termin buchen </a>
      <a href="/blog"> Blog </a>
      <a href="/kontakt"> Kontakt </a>
    </nav>
    <div class="col-12-right right">
      <div class="padded-t-05">
        <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
        <a href="{{site.data.site-settings.social.linkedin_url}}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a> 
      </div>
    </div>
    <div class="col-9_xs-12-bottom right padded-b-05 show-xs">
      <div>      <a href="mailto:coaching@alfredschuler.ch" class="email-footer block"> coaching@alfredschuler.ch </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p class="hide-xs"> ©Alfred Schuler | Theta-Welten Schwyz GmbH 2023 </p>
   </div>
    <div class="col-3_xs-12-middle left xs-right padded-t-1 padded-b-05">
      <p class="editable size-09"> Web Design, Grafikdesign und <br class="show-sm"> Fotografie von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/icons/pajurama-logo-gray.png" class="pajurama-logo"> </a> </p>
      <p class="show-xs"> ©Alfred Schuler | Theta-Welten Schwyz GmbH 2023 </p>
   </div>
    <div class="col-9_xs-12-bottom right padded-b-05 hide-xs">
      <div> <a href="mailto:coaching@alfredschuler.ch" class="email-footer block"> coaching@alfredschuler.ch </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p> ©Alfred Schuler | Theta-Welten Schwyz GmbH 2023 </p>
   </div>
  </footer>

</section>
  