
<section>
  <header class="grid-middle">
    <div class="col-3">
      <div>
        <a href="/" class="logo"> <img data-src="/images/logos/river-schriftzug.png" class="header-logo lazy"> </a>
      </div>
    </div> 
    <nav class="col-9 hide-md right">
      <a href="/"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <div class="dropdown">
        <a href="/tierkinesiologie.html" class="dropdown-title"> Tierkinesiologie </a>
        <div class="dropdown-content">
          <a href="/energetik.html"> Energetik </a>
          <a href="/tierkommunikation.html"> Tierkommunikation </a>
          <a href="/heilsteine.html"> Heilsteine </a>
          <a href="/reiki.html"> Reiki </a>
          <a href="/farbtherapie.html"> Farbtherapie </a>
          <a href="/bachblueten.html"> Bachblüten </a>
        </div>
      </div>
      <a href="/shop"> Shop </a>
      <a href="/kontakt"> Kontakt </a>
      <a href="/termin-buchen" class="featured"> Termin buchen </a>
    </nav> 
    <div class="col-7 right show-md">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img data-src="/images/logos/r-logo.png" class="lazy">
  </div>
  <nav> 
    <a href="/"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/tierkinesiologie.html"> Tierkinesiologie </a>
    <div class="dropdown-content-mobile">
      <a href="/energetik.html"> Energetik </a>
      <a href="/tierkommunikation.html"> Tierkommunikation </a>
      <a href="/heilsteine.html"> Heilsteine </a>
      <a href="/reiki.html"> Reiki </a>
      <a href="/farbtherapie.html"> Farbtherapie </a>
      <a href="/bachblueten.html"> Bachblüten </a>
    </div>
    <a href="/termin-buchen"> Termin buchen </a>
    <a href="/shop"> Shop </a>
    <a href="/kontakt"> Kontakt </a>
  </nav>
</div> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 