<section class="bg-medium text-white">
  <footer class="capped-width grid-spaceAround-middle md-padded-2 padded-1 padded-b-05">

    {% if page.language == "deutsch" %}

    <div class="col-6_xs-6">
      <a href="/">
        <h1 class="lindsey logo"> Rain & Rosemary </h1>
      </a>
    </div>
    <nav class="col-6_xs-6-right-top">
      <a href="/"> Start </a>
      <a href="/ueber-mich"> Über mich </a>
      <a href="/bodywork-massage.html"> Bodywork Massage </a>
      <a href="/kraeuterkunde.html"> Kräuterkunde </a>
      <a href="/mentoring.html"> Mentoring </a>
      <a href="/catering-retreats.html"> Catering Retreats </a>
      <a href="/termin-buchen.html"> Termin buchen </a>
      <a href="/blog.html"> Blog </a>
      <a href="/kontakt.html" class="featured"> Kontakt </a>
    </nav>
    <div class="col-12-right right">
      <div class="padded-t-1">
        <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
        <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
        <a href="{{site.data.site-settings.social.linkedin_url}}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a> 
      </div>
    </div>
    <div class="col-9_xs-12-bottom right padded-b-05 show-xs">
      <div>  <a href="mailto:rainandrosemary@gmail.com" class="email-footer block"> rainandrosemary@gmail.com </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p class="hide-xs">©Rain & Rosemary 2023 </p>
   </div>
    <div class="col-3_xs-12-middle left xs-right padded-t-1 padded-b-05">
      <p class="size-09"> Web Design und <br class="show-sm"> Fotografie von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/icons/pajurama-logo-white.png" class="pajurama-logo"> </a> & <a href="https://www.instagram.com/corie__bee/" target="_blank"> Corie Bee </a> </p>
      
      <p class="show-xs">©Rain & Rosemary 2023 </p>
   </div>
    <div class="col-9_xs-12-bottom right padded-b-05 hide-xs">
      <div> <a href="mailto:rainandrosemary@gmail.com" class="email-footer block"> rainandrosemary@gmail.com </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p> ©Rain & Rosemary 2023 </p>
   </div>


   {% endif %}

   {% if page.language == "english" %}


   <div class="col-6_xs-6">
    <a href="/">
      <h1 class="lindsey logo"> Rain & Rosemary </h1>
    </a>
  </div>
  <nav class="col-6_xs-6-right-top">
    <a href="/english"> Start </a>
    <a href="/english/ueber-mich"> About </a>
    <a href="/english/bodywork-massage.html"> Bodywork Massage </a>
    <a href="/english/kraeuterkunde.html"> Herbology </a>
    <a href="/english/mentoring.html"> Mentoring </a>
    <a href="/english/catering-retreats.html"> Catering Retreats </a>
    <a href="/english/termin-buchen.html"> Book now </a>
    <a href="/english/blog.html"> Blog </a>
    <a href="/english/kontakt.html" class="featured"> Contact </a>
  </nav>
  <div class="col-12-right right">
    <div class="padded-t-1">
      <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
      <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
      <a href="{{site.data.site-settings.social.linkedin_url}}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a> 
    </div>
  </div>
  <div class="col-9_xs-12-bottom right padded-b-05 show-xs">
    <div>      <a href="mailto:rainandrosemary@gmail.com" class="email-footer block"> rainandrosemary@gmail.com </a></div>
    <a href="/english/impressum" class="padded-r-1 subtle"> Imprint </a>
    <a href="/english/datenschutz" class="subtle"> Privacy Policy </a>
    <p class="hide-xs"> ©Rain & Rosemary 2023 </p>
 </div>
  <div class="col-3_xs-12-middle left xs-right padded-t-1 padded-b-05">
    <p class="size-09"> Web Design und <br class="show-sm"> Fotografie von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/icons/pajurama-logo-white.png" class="pajurama-logo"> </a> & <a href="https://www.instagram.com/corie__bee/" target="_blank"> Corie Bee </a> </p>
    <p class="show-xs"> ©Rain & Rosemary 2023</p>
 </div>
  <div class="col-9_xs-12-bottom right padded-b-05 hide-xs">
    <div> <a href="mailto:rainandrosemary@gmail.com" class="email-footer block"> rainandrosemary@gmail.com </a></div>
    <a href="/english/impressum" class="padded-r-1 subtle"> Imprint </a>
    <a href="/english/datenschutz" class="subtle"> Privacy Policy </a>
    <p> ©Rain & Rosemary 2023 </p>
 </div>

 {% endif %}

  </footer>

</section>
  