
<section class="bg-medium text-white">
  <header class="grid-middle capped-width">
    <div class="col-3">
      <div>
        <a href="/"> <h1 class="lindsey logo"> Lluvia </h1> </a>
      </div>
    </div> 
    <nav class="col-9 hide-md right">
      <a href="/"> Start </a>
      <a href="/ueber-mich.html"> Über mich </a>
      <div class="dropdown">
        <a href="/healing.html" class="dropdown-title"> Healing </a>
        <div class="dropdown-content">
          <a href="/bodywork-massage.html"> Bodywork Massage </a>
          <a href="/pflanzenwelt.html"> Pflanzenwelt </a>
          <a href="/human-design-reading.html"> Human Design Reading </a>
        </div>
      </div>
      <a href="/catering-retreats.html"> Catering Retreats </a>
      <a href="/termin-buchen.html"> Termin buchen </a>
      <a href="/kontakt.html" class="featured"> Kontakt </a>
    </nav> 
    <div class="col-7 right show-md">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img data-src="/images/logos/r-logo.png" class="lazy">
  </div>
  <nav> 
    <a href="/"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/healing.html" class="dropdown-title"> Healing </a>
    <div class="dropdown-content-mobile">
      <a href="/bodywork-massage.html"> Bodywork Massage </a>
      <a href="/pflanzenweltn.html"> Pflanzenwelt </a>
      <a href="/human-design-reading.html"> Human Design Reading </a>
    </div>
    <a href="/catering-retreats.html"> Catering Retreats </a>
    <a href="/termin-buchen.html"> Termin buchen </a>
    <a href="/kontakt.html" class="featured"> Kontakt </a>
  </nav>
</div> 



<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 