<header class="grid-middle bg-medium text-white">

  {% if page.language == "deutsch" %}

  <div class="col-3_sm-10">
    <div class="margin-l-1 xs-margin-l-0">
      <a href="/"> <h1 class="lindsey logo"> Rain & Rosemary </h1> </a>
    </div>
  </div> 

  <nav class="col-9-right right hide-md padded-05">
    <a href="/"> Start </a>
      <a href="/ueber-mich.html"> Über mich </a>
      <div class="dropdown">
        <a href="/healing.html" class="dropdown-title"> Healing </a>
        <div class="dropdown-content">
          <a href="/bodywork-massage.html"> Bodywork Massage </a>
          <a href="/mentoring.html"> Mentoring </a>
          <a href="/kraeuterkunde.html"> Kräuterkunde </a>
        </div>
      </div>
      <a href="/catering-retreats.html"> Catering Retreats </a>
      <a href="/termin-buchen.html"> Termin buchen </a>
      <a href="/blog.html"> Blog </a>
      <a href="/kontakt.html" class="featured"> Kontakt </a>
    <div class="language"> <span class="earth"><i class="fa-solid fa-earth-africa"></i></span>
      <div class="language-icons">
        <a href="#" class="center"> <p class="lindsey"> DE </p> </a>
        <a href="/english{{page.url}}" class="center"> <p class="lindsey"> EN </p> </a>
      </div>
    </div>
    
  </nav> 

  {% endif %}
  
  {% if page.language == "english" %}

  <div class="col-3_sm-10">
    <div class="margin-l-1 xs-margin-l-0">
      <a href="/english"> <h1 class="lindsey logo"> Rain & Rosemary </h1> </a>
    </div>
  </div> 

    <nav class="col-9-right right hide-md padded-05">

      <a href="/english"> Home </a>
      <a href="/english/ueber-mich.html"> About </a>
      <div class="dropdown">
        <a href="/english/healing.html" class="dropdown-title"> Healing </a>
        <div class="dropdown-content">
          <a href="/english/bodywork-massage.html"> Bodywork Massage </a>
          <a href="/english/mentoring.html"> Mentoring </a>
          <a href="/english/kraeuterkunde.html"> Herbology </a>
        </div>
      </div>
      <a href="/english/catering-retreats.html"> Catering Retreats </a>
      <a href="/english/termin-buchen.html"> Book now </a>
      <a href="/english/blog.html"> Blog </a>
      <a href="/english/kontakt.html" class="featured"> Contact </a>
      <div class="language"> <span class="earth"> <i class="fa-solid fa-earth-africa"></i></span>
        <div class="language-icons">
          <a href="{{page.url | replace:'/english',''}}" class="center"><p class="lindsey"> DE </p>  </a>
          <a href="#"> <p class="lindsey"> EN </p> </a>
        </div>
      </div>
    </nav> 

    {% endif %}

    <div class="col-2 right show-md">
      <div class="burger-button xs-padded-r-0 ">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>

{% if page.language == "deutsch" %}
  
<div class="mobile-menu"> 
  <h1 class="logo-mob-menu left"> Rain & Rosemary </h1>
  <nav class="mobile-menu-links"> 
    <a href="/" class="margin-t-1"> Start </a>
    <a href="/ueber-mich"> Über mich </a>
    <a href="/healing.html"> Healing </a>
    <div class="dropdown-content-mobile">
      <a href="/bodywork-massage.html"> Bodywork Massage </a>
      <a href="/mentoring.html"> Mentoring </a>
      <a href="/kraeuterkunde.html"> Kräuterkunde </a>
    </div>
    <a href="/catering-retreats.html"> Catering Retreats </a>
    <a href="/termin-buchen.html"> Termin buchen </a>
    <a href="/blog.html"> Blog </a>
    <a href="/kontakt.html" class="featured"> Kontakt </a>
    <a href="#"> <p class="lindsey margin-t-1"> DE </p>  </a>
    <a href="/english{{page.url}}"> <p class="lindsey"> EN </p> </a>
  </nav>
</div> 

{% endif %}

{% if page.language == "english" %}
  
<div class="mobile-menu"> 
  <h1 class="logo-mob-menu left"> Rain & Rosemary </h1>
  <nav class="mobile-menu-links"> 
    <a href="/english" class="margin-t-1"> Home </a>
    <a href="/english/ueber-mich.html"> About </a>
    <a href="/english/healing.html"> Healing </a>
      <div class="dropdown-content-mobile">
        <a href="/english/bodywork-massage.html"> Bodywork Massage </a>
        <a href="/english/mentoring.html"> Mentoring </a>
        <a href="/english/kraeuterkunde.html"> Herbology </a>
      </div>
    <a href="/english/catering-retreats.html"> Catering Retreats </a>
    <a href="/english/termin-buchen.html"> Book now </a>
    <a href="/english/blog.html"> Blog </a>
    <a href="/english/kontakt.html" class="featured"> Contact </a>
    <a href="{{page.url | replace:'/english',''}}"> <p class="lindsey margin-t-1"> DE </p>  </a>
    <a href="#"> <p class="lindsey"> EN </p> </a>
  </nav>
</div> 

{% endif %}