---
layout: default
title: Homepage
language: english
slick-slider: true
pop-up: false
seo:
  title:
  description:
  social_image:
  twitter_card:
  keywords:
  hide-from-google: false
testimonials:
  - name: Noem
    description: >-
      To be honest the session with Youlia was something I had never experienced
      before.  A time devoted entirely to femininity, and to me, and to her 😊
      with aromatic oils, incense, crystals and more, I practically learned to
      deal with all kinds of emotions that await me, I had a safe and wide space
      to tell and speak what I feel. Depending on the conversation we moved on
      to the physical part which was a pleasant and loving touch like that of a
      mother or big sister. I want to mention the womb massage which was very
      special to me.  She still takes time for me to discuss some of the things
      that came up in the session, and is there to consult when needed. Full of
      love ❤ 
  - name: Madison Ryley
    description: >-
      I highly recommend This amazing Woman! Lluvia has such a loving and
      nurturing touch. She is so intuitive and I have benefited so much from her
      body work.
  - name: Elle LaRose
    description: >-
      THIS WOMAN HAS GOT THE HEALING HANDS OF GOD. She's a witchy woman with a
      bag full of goodies. Lluvia is a trustworthy, loving, raw, and nurturing
      human. She listens and directs you on a path that is in alignment with
      your highest self. Allowing you to open and expand while she paves the
      path more clear for your journey. She feeds you, holds you, listens to
      you, serves you, and makes time for herself. It is a true blessing to call
      her a friend, a sister, and a teacher.
  - name: Michael
    description: >-
      I came to San Marcos looking for someone to untangle the mess that I had
      in my brain - Negative thought loops, self-imposed roadblocks, and an
      inability to make a decision that was true to who I am. I found Jule, and
      my session with her was extremely helpful in so many ways.  My time with
      Jule was impossible to categorize.  The session itself was talk therapy,
      massage, plant medicine, music therapy, art therapy, writing, great tea,
      and so much more.  Jule made so many of the herbal oils and scents that
      were used from scratch, and I was introduced to plants that I didn't even
      know existed.  I talked, laughed, cried, and came out feeling cleansed.  I
      felt completely safe and unrushed, and I was able to verbalize the issues
      I have been having for the first time in many years.  I was able to focus
      on what I needed to do to be true to myself and to my relationships. My
      decisions following the session have been made with clarity and honesty,
      and I was able to begin to heal a chasm that had grown between my wife and
      I. I highly recommend a session with Jule.  If you have an intention, she
      will help you move forward.  If you don't have an intention, she will help
      you find it.  If you aren't looking for an intention, your time will still
      be well spent, as you will be comfortable, safe, and experience a healing
      massage, a great cup of tea, and beautiful aromas and sounds.
---
<!------------------------ Image Banner  ------------------------>
<section class="padded-2 xs-padded-0 capped-width relative xs-padded-bottom-custom">
    <img src="/images/index/Index-banner-1.png" />

    <h2 class="fourrem lindsey padded margin-t-2 hide-xs"> </h2>

    <div class="keywords-index">
      <h2> Bodywork Massages </h2>
      <h2> Mentoring </h2> 
      <h2> Herbology </h2>
      <h2> Catering Retreats </h2>
    </div>

</section>

<div class="show-xs padded">
  <h2 class="lindsey"> </h2>
</div>

<section class="bg-light">
  <section class="capped-width padded-2 xs-padded-0">
    <img src="/images/index/Index-banner-2-english.png" />
  </section>
</section>


<section class="capped-width padded-2 xs-padded-5 grid-spaceAround-middle">
    <div class="col-6_sm-12 padded">
      <h2 class="editable"> Hey, I'm Lluvia </h2>
       The mystery of life and man and his motivations have always fascinated me.<br /><br /> I love life in all its glory. The smells, textures and tastes that life brings are also magically reflected in the kitchen, with all the wild, colorful ingredients it contains. Nature is my living room, plants my closest allies, fire my constant companion and water my faithful friend that holds me.<br /><br /> A main motive of my life is (emotional) expression. Expressing who you are and what you feel right now, without shame, without restraint. This means absolute freedom for me.<br /><br /> Helping others to do this and touching their innermost is a huge gift and gives me an incredible amount of joy. <p></p>
    </div>
    <div class="col-6_sm-12 padded">
      <img src="/images/index/Index-3.png" />
    </div>
</section>



<section class="capped-width grid-spaceAround-middle padded xs-margin-b-1 padded-t-1 center">
  <div class="col-1-bottom"> <p class="lindsey threerem"> " </p> </div>
  <div class="col-10"> <p class="lindsey tworem editable"> I hope you will go out and let stories, that is life, happen to you, and that you will work with these stories... water them with your blood and tears and your laughter till they bloom, till you yourself burst into bloom. </p> 
  <p class="editable"> - Clarissa Pinkola Estés, Women Who Run With the Wolves </p></div>
  <div class="col-1-top"> <p class="lindsey threerem"> " </p> </div>
</section>


<section class="bg-image bg-index-banner bg-overlay tall-70 xs-tall-50 flex-center text-white">
  <div class="grid-spaceAround-middle padded">
    <div class="col-6-middle padded">
      <h2 class="editable sm-1-6rem">
          You are not a drop in the ocean, you are the entire ocean in a drop.
      </h2>
    </div>
    <div class="col-6 center relative"> 
      <p class="lindsey quote-bg-image"> Peace - Unity - Freedom </p>
    </div>
  </div>
</section>



<section class="capped-width padded-lg xs-padded-5 relative">
  <img src="/images/index/Index-4.png" />

  <h3 class="index-4-word-1 lindsey threerem"> Enjoyment </h3>
  <h3 class="index-4-word-2 lindsey threerem"> Connection </h3>

</section>


<section class="center hide-md">
  <h2 class="lindsey tworem"> Testimonials </h2>
  <section class="capped-width-narrow">
          <div class="slider-container padded padded-t-2 center">   
            {% for item in page.testimonials %}  
              <div class="slider-item padded"> 
                  <h5 class="block lindsey"> {{ item.name }} </h5>
                  <p class="block"> {{ item.description }}</p>
              </div>
            {% endfor %}
          </div>
  </section>
</section>


<section class="center show-md bg-light padded padded-t-2">
  <h2 class="lindsey tworem"> Testimonials </h2>
  <section class="capped-width-narrow"> 
            {% for item in page.testimonials %}  
              <div class="padded testimonial-box-md margin-b-1"> 
                  <h5 class="block lindsey"> {{ item.name }} </h5>
                  <p class="block"> {{ item.description }}</p>
              </div>
            {% endfor %}
  </section>
</section>